{% extends './base.html' %}
{% load staticfiles %}
{% block head %}
<script src="{% static 'js/index.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/indexstyle.css' %}">
{% endblock %}

{% block body %}
<div class="img" data-img="{% static 'images/slideshow/forgetreading.jpg' %}"><span class="multiline"><span class="max">LEARN</span>by reading less and testing more</span></div>
<div class="img" ><span class="multiline"><span class="text-page-header">THE POWER OF SIMPLE QUIZZES</span><span class="text-page">Taking a test is not just a passive mechanism for assessing how much people know, according to new research. It actually helps people learn, and it works better than a number of other studying techniques.</span></div>
<div class="img" data-img="{% static 'images/slideshow/question.jpg' %}"><span class="multiline"><span class="max">IMPROVE</span>by taking tests on a certain subject on certain times.</span></div>
<div class="img" ><span class="multiline"><span class="text-page-header">THE POWER OF SIMPLE QUIZZES</span><span class="text-page">Taking a test is not just a passive mechanism for assessing how much people know, according to new research. It actually helps people learn, and it works better than a number of other studying techniques.</span></div>
<div class="img" data-img="{% static 'images/slideshow/statistics.jpg' %}"><span class="multiline"><span class="max">CORRECT</span>yourself in the future by getting instant feed</span></div>
{% endblock %}